[user]
	name = Kapil Arya
	email = kapil@ccs.neu.edu
[color]
        #diff = auto
	status = auto
	branch = auto
	ui = always
[alias]
	st = status
	di = diff
	co = checkout
	ci = commit
	br = branch
	pr = pull --rebase
	sta = stash
	ldiff = difftool -t latex   
	wdiff = diff --color-words
[color "diff"]
	meta = blue bold
	frag = cyan bold
	func = magenta bold
[difftool.latex]
	cmd = latexdiff "$LOCAL" "$REMOTE"
[difftool]
	prompt = false
[push]
	default = simple
[svn]
	rmdir = true
[core]
	excludesfile = ~/.gitignore_global
